<!DOCTYPE html>
    <%- include('head'); %>

    <body class="container">
        <%- include('header'); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Oi sou Jefferson Brandão Engnheiro de Software Pleno na Flash Beneficios!</p>
            </div>
        </main>

        <%- include('footer'); %>
    </body>

</html>